/* CSS cho QueueDemo, StackDemo và ListDemo */

/* VBox cho List */
.vbox-list {
    -fx-alignment: center;
    -fx-padding: 20;
}

/* Label cho output */
.label-output {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #cccccc;
    -fx-padding: 5;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Các nút */
.button-control {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/* Hiệu ứng hover cho nút */
.button-control:hover {
    -fx-background-color: #45a049;
}

/* StackPane cho hiển thị */
.stack-pane {
    -fx-alignment: center;
    -fx-padding: 10;
}
.root {
    -fx-background-color: #ffd495; /* Màu nền ứng dụng (Alice Blue) */
}
.stack-pane .rectangle {
    -fx-fill: #f2c07a; /* Màu cam nhạt */
    -fx-stroke: #ffff00; /* Đường viền cam đậm */
    -fx-stroke-width: 2;
}

